<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio - Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h3>EC2</h3>
    <h1>Welcome to My Portfolio</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <main>
    <p>               </p>
    <h2>Hello, I'm Atharva Santosh Tawade</h2>
    <p>This is a simple portfolio website built with Express.js.</p>
    <p>Email:atharvatawade@eng.rizvi.edu.in</p>
    <p>Contact:9967972005</p>
    <img src="\images\screenshot.png" alt="Sample Portfolio Image" width="300">
  </main>
</body>
</html>
